# Python Virtual Environment
venv/
.venv/

# Python compiled or runtime files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Operating System Miscellaneous
.DS_Store
Thumbs.db

# Environment variables, sensitive information files
.env
secret.key

# IDE settings
.vscode/
.idea/
